extends _layout
block var
  - metas = {}
  - metas.title = 'タイトa'
  - metas.url = 'url'
  - metas.image = 'image'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
block append meta
  +meta(metas)
block title
  h1 title
block body